body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(220, 224, 245);
}

header {
    background-image: url(./images/background.jpg);
    size: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.1px;
    padding: 0.1px;
   
}

.title {
    margin-left: 15px;
}

.navigation  {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    background-image: url(./images/background.jpg);
}

.navigation a {
    text-decoration: none;
    display: flex;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: #a9cdf7;
}

@media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  } 
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
}
.aboutMe{
    display: flex;
    height: 25vh;
    align-items: baseline;
    justify-content: center;
    background-image: url(./images/background.jpg);
}

@media all and (max-width:600px){
    .aboutMe {
        flex-flow: column wrap;
        height: auto;
        justify-content: center;
    }
}
.left{
    float: left;
    width: 30%;
}
.right{
    float: right;
    width: 70%;
}
.work{
    display: flex;
    align-items: baseline;
    height: 50vh;
}
.contactMe{
    display: flex;
    align-items: baseline;
    height: 20vh;
}